	* {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
}
body {
	background:lightgray;
}

@media screen and (min-width:769px) and (max-width:1024px) {
	body {
		background:red;
	}
}
@media screen and (max-width:768px){
	body {
		background:orange;
	}
}

/*CSS grid*/
.contenedor {
	display:grid;
	grid-template-columns:15% 15% 40% 15% 15%;
	grid-gap:10px; 
	grid-template-rows:150px 150px 150px;
	grid-template-areas: "uno dos dos tres tres"
						"cuatro dos dos cinco cinco"
						"seis siete ocho nueve diez"
}
.uno {
	grid-area: uno;
	background:tomato;
}
.dos {
	grid-area: dos;
	background:yellow;
}
.tres {
	grid-area: tres;
	background:pink;
}
.cuatro {
	grid-area: cuatro;
	background:green;
}
.cinco {
	grid-area: cinco;
	background:red;
	}
.seis {
	grid-area: seis;
	background:red;
}
.siete {
	grid-area: siete;
	background:red;
}
.ocho {
	grid-area: ocho;
	background:red;
}
.nueve {
	grid-area: nueve;
	background:red;
}
.diez {
	grid-area: diez;
	background:red;
}